*{
	font-family: 'Zorque',sans-serif;
}
#main-wrapper{
	width:100%;
	height:592px;
	padding-top: 50px;
	background-color:#87CEFA;
	/*background-image :url("../images/background.png");*/
}
#main-container{
	position:relative;
	margin:0 auto;
	width:450px;
	border: 10px solid #311306;
}
.gameboard{
	position:relative;
	width:450px;
	min-height:450px;
	border-radius:10%;
	margin:0 auto;	
}
#s-board{
	height:500px;
}
#home{
	width:128px;
	height:128px;
	background-image :url("../images/home-icon.png");
	position: absolute;
	background-repeat: no-repeat;
	left:180px;
	top:180px;
	z-index:1;
}
.outer{
	width: 140px;
	height: 140px;
	position:absolute;
	z-index:1;
	top:14px;
	left:14px;
	border:6px solid #a3531e;	
}
.outermost{
	width: 168px;
	height: 168px;
	position:absolute;
	z-index:1;
	top:0px;
	left:0px;
	border:6px solid #a3531e;	
}
.outercircle{
	width:130px;
	height:130px;
	position:absolute;
	left:25px;
	top:25px;
	border-radius:100%;
	background:url("../images/outercircle-img.png") no-repeat;
}
.triangle{
	width:0px;
	height:0px;
	position:absolute;
	
}

/*#triangle1{
	border-left: 44px solid transparent;
	border-right: 44px solid transparent;
	border-top: 44px solid green;
	left:180px;
	top:180px;
}
#triangle2{
	border-top: 44px solid transparent;
	border-bottom: 44px solid transparent; 
	border-right:44px solid yellow;
	left:225px;
	top:180px;
}
#triangle3{
	border-left: 44px solid transparent;
	border-right: 44px solid transparent;	
	border-bottom: 44px solid blue;
	left:180px;
	top:225px;
}
#triangle4{
	border-top: 44px solid transparent;
	border-bottom: 44px solid transparent;	
	border-left: 44px solid red;
	left:180px;
	top:180px;
}*/
#outercircle2{
	left:295px;
}
#outercircle3{
	left:25px;
	top:295px;
}
#outercircle4{
	left:295px;
	top:295px;
}
#outer2{
	left:284px;
	
}
#outer3{
	left:14px;
	top:284px;	
}

#outer4{
	left:284px;
	top:284px;
	
}
#outermost2{
	left:270px;
	
}
#outermost3{
	left:0px;
	top:270px;	
}

#outermost4{
	left:270px;
	top:270px;
	
}

.tiles{
	height:29px;
	width:29px;
	position: absolute;	

}
.tiles2{
	height:44px;
	width:44px;
	color:black;
	font-weight:bold;
	border:1px solid black;
	position: absolute;
}
.gatti{
	width:28px;
	height:28px;
	position:absolute;
	z-index:2;
	border-radius:100%;
	border-width:2px;
	border-style:solid;
	border-color: black;
}
.tokenHolder{
	width:30px;
	height:30px;
	position:absolute;
	background-color:white;
	
	border-radius:100%;
}
.token{
	width:38px;
	height:38px;
	position:absolute;
	z-index:2;
	border-radius:100%;
border: 2px solid black;
}
.dice-container{
	width:7.738095238095238%;

	height:104px;
	border-radius:10%;
	overflow:hidden;
	/*left:165px;*/
	left:12.07906295754026%;
	top:190px;
	position:absolute;
}
 img{
	display:block;
	
}

.instruction{
	width:340px;
	text-align:center;
	border:1px solid black;
	position:absolute;
	left:50px;
	top:50px;
	color:black;
	font-weight: bold;
}

.start{
	position:absolute;
	width:75px;
	height:40px;
	left:50px;
top:100px;
	background-scolor: red;
	display:block;
}
.option{
	position:absolute;
	width:170px;
	height:70px;
	background-color: #B4B0E3;
	display:none;
	color:#C00F00;
	font-size: 40px;
	text-align:center;
	line-height: 40px;
	border-radius:10%;
	-webkit-text-stroke: 2px black;
 
   text-shadow:
       3px 3px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
.options-header{
	font-size:44px;
	font-family:'Zorque',sans-serif;
	color:black;
	padding-left:25%;
	margin-top:120px;
	-webkit-text-stroke: 2px black;
 
   text-shadow:
       3px 3px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;

}
#three{
	left:42.41071428571429%;
	top:250px;
}
#four{
	left:56.54761904761905%;
	top:250px;
}
#two{
	left:28.5%;
	top:250px;
}

.game{
	position:absolute;
	width:200px;
	height:150px;
	color:#C00F00;
	display:block;
	background-color: #B4B0E3;
	/*border:1px solid black;*/
	border-radius:10%;
	font-size: 40px;
	-webkit-text-stroke: 2px black;
 
   text-shadow:
       3px 3px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
	
	font-family: 'Zorque',sans-serif;
}
#ludo{
	left:450px;

	top:220px;
	/*background-image :url("../images/ludo-board.png");*/
}
#snake{
	left:700px;
	
	top:220px;
	/*background-image :url("../images/snake-icon.png");*/
}

.item{
	position: absolute;
	
	
	background-repeat: no-repeat;
}
#item1{
	height:85px;
	width:30px;
	z-index:1;
	left:50px;
	top:200px;	
	background-image :url("../images/ladder2.png");
}
#item2{
	height:85px;
	width:30px;
	z-index:1;
	left:550px;
	top:100px;	
	background-image :url("../images/ladder2.png");
}
#item3{
	height:85px;
	width:30px;
	z-index:1;
	left:750px;
	top:20px;	
	background-image :url("../images/ladder2.png");
}
#item4{
	height:250px;
	width:25px;
	z-index:1;
	left:800px;
	top:200px;	
	background-image :url("../images/ladder1.png");
}

#item5{
	z-index:1;
	height:385px;
	width:40px;
	left:750px;
	top:150px;	
	background-image :url("../images/snake1.png");
}
#item6{
	z-index:1;
	height:152px;
	width:75px;
	left:850px;
	top:300px;	
	background-image :url("../images/snake2.png");
}
#item7{
	z-index:1;
	height:92px;
	width:100px;
	left:1050px;
	top:100px;	
	background-image :url("../images/snake4.png");
}
#item8{
	z-index:1;
	height:145px;
	width:60px;
	left:50px;
	top:400px;	
	background-image :url("../images/snake5.png");
}

.layoutSelector{
	width:150px;
	height:100px;
	z-index: 3;	
	display:block;
	line-height:30px;
	
	position: absolute;
	color:#C00F00;;
	-webkit-text-stroke: 2px black;
 	font-size:30px;
   text-shadow:
       3px 3px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
	
	font-family: 'Zorque',sans-serif;
}
#defaultPosition{
		top:20px;
		left:200px;
}
#editor{
	left:20px;
	top:20px;
}

#restart{
	width:50px;
	height:30px;
	position: absolute;
	left:1250px;
	top:20px;
	background-color: red;
	border:1px solid black;
	display:none;
	
}

.loading-percent{
	font-size: 60px;
	text-align: center;
	padding: 200px;
	color:white;

}
#win{
	width:400px;
	height:100px;
	position: absolute;
	left:470px;
	top:230px;
	display:none;
	z-index:3;
	
	font-size:70px;
	text-align:center;
	line-height:100px;
	border:1px solid transparent;
	-webkit-text-stroke: 3px black;
   color: white;
   text-shadow:
       3px 3px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
#status{
	font-size: 30px;
	border:none;
	font-family: 'Zorque',sans-serif;
}

.info-box{
	position:absolute;
	z-index:2;
	left:490px;
	top:220px;
	width:400px;
	
	
	border-radius: 10%;
	display:none;
}
.volume{
	position:absolute;
	right:5px;
	top:5px;
	width:48px;
	height:48px;
	background-repeat: no-repeat;
}